{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load user_filters %}
{% block title %}Изменение профиля {{ user.username }} {% endblock %}
{% block content %}
{% include 'users/_switcher.html' %}
<div class="row border-start border-end border-bottom rounded shadow-sm bg-white mb-3">
  <div class="col-12 col-md-12">
    <p>
      <h4>Изменение профиля {{ user.username }}</h4> 
    </p>
    <p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        {% for error in field.errors %} <i>{{ error|escape }}</i> {% endfor %}
      {% endfor %}
      <div class="form-group row my-3">
        <div class="col-12 col-md-2 mb-1">
          {% if user.photo %}
            {% thumbnail user.photo "100x100" crop="center" as photo %}
              <img class="img-fluid rounded mx-auto" src="{{ photo.url }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'img/avatar.jpg' %}" width="100" height="100" class="d-inline-block" alt="">
          {% endif %} 
        </div>
        <div class="col-12 col-md-6 mb-1">
          <label class="form-label"><b>Ваше фото *</b></label>
          {{ form.photo|addclass:'form-control' }}
          <small class="form-text text-muted">
            Выберите фото
          </small> 
        </div>
        <div class="col-12 col-md-12 mb-1">
        </div>
        <div class="col-6 col-md-4 mb-1">
          <label class="form-label"><b>Имя</b></label>
          {{ form.first_name|addclass:'form-control' }}
          <small class="form-text text-muted">Видно другим игрокам</small> 
        </div>
        <div class="col-6 col-md-4 mb-1">
          <label class="form-label"><b>Фамилия</b></label>
          {{ form.last_name|addclass:'form-control' }}
          <small class="form-text text-muted">Видно другим игрокам</small> 
        </div>
        <div class="col-md-12 mb-1"> 
        </div>
        <div class="col-6 col-md-4 mb-1">
          <label class="form-label"><b>Страна</b></label>
          {{ form.country|addclass:'form-control' }}
          <small class="form-text text-muted">Ваша страна</small> 
        </div>
        <div class="col-6 col-md-4 mb-1">
          <label class="form-label"><b>Город</b></label>
          {{ form.city|addclass:'form-control' }}
          <small class="form-text text-muted">Ваш город</small> 
        </div>
        <div class="col-md-12 mb-1"> 
        </div>
        <div class="col-12 col-md-4 mb-1">
          <label class="form-label"><b>Телеграм аккаунт</b></label>
          {{ form.telegram|addclass:'form-control' }}
          <small class="form-text text-muted">Для бота - другие игроки его не увидят</small> 
        </div>
        <div class="col-6 col-md-4 mb-1">
          <label class="form-label"><b>Электронная почта</b></label>
          {{ form.email|addclass:'form-control' }}
          <small class="form-text text-muted">Для восстановления пароля</small> 
        </div>
        <div class="col-md-12 mb-1"> 
        </div>
        <div class="col-6 col-md-4 mb-1">
          <label class="form-label"><b>BGG ник</b></label>
          {{ form.bgg_account|addclass:'form-control' }}
          <small class="form-text text-muted">Ник на boardgamegeek.com</small> 
        </div>
        <div class="col-6 col-md-4 mb-1">
          <label class="form-label"><b>Tesera ник</b></label>
          {{ form.tesera_account|addclass:'form-control' }}
          <small class="form-text text-muted">Ник на tesera.ru</small> 
        </div>
        <div class="col-12 col-md-8 mb-1">
          <label class="form-label"><b>О себе</b></label>
          {{ form.about|addclass:'form-control' }}
          <small class="form-text text-muted">Расскажите о себе, интересах, опыте в настольных играх</small> 
        </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-danger">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
