{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Мои коллекции{% endblock %}
{% block content %}
  {% if view_name == 'users:gamer_collections' %}
    {% include 'users/_switcher.html' %}
    <div class="row border-start border-end border-bottom rounded shadow-sm bg-white mb-3">
  {% else %}
    <div class="row border-start border-end border-bottom border-top rounded shadow-sm bg-white mb-3">
  {% endif %}
    <div class="col-12 col-md-12">
      <p>
        <h5>
          {% if type == 'liked' %} 
            Любимые игры {{ user.username }}: <span class="badge bg-danger">{{ page_obj.paginator.count }}</span> 
          {% elif type == 'site' %}
            Коллекция на сайте {{ user.username }}: <span class="badge bg-danger">{{ page_obj.paginator.count }}</span>
          {% elif type == 'tesera' %} 
            Коллекция tesera {{ user.username }}: <span class="badge bg-danger">{{ page_obj.paginator.count }}</span>
            {% if user == request.user%}<a href="{% url 'users:update_collection' %}"><span class="badge bg-danger">обновить</span></a>{% endif %}
          {% endif %}
        </h5>
      </p>
  
      <div class="table-responsive">
        <table class="table table-hover align-middle table-borderless">
          <tbody>
            {% for game in page_obj %}
              {% include "games/game_card.html" %}
            {% empty %} <i>В коллекции пусто</i>
            {% endfor %}
          </tbody>
        </table>
        {% include "includes/paginator.html" %}
      </div>
    </div>
{% endblock %}
