{% extends "base.html" %}
{% load static %}
{% block title %}О проекте{% endblock %}
{% block content %}
  <div class="row border rounded shadow-sm bg-white">
    <div class="col-12 col-md-12">
      <p>
        <h4>О проекте</h4>
      </p>
    </div>
    <div class="col-12">
      <p>
        <h5>Что такое <b style="color:red">"В МЕСТЕ"?</b></h5>  
      </p>
      <p>
        <b style="color:red">В МЕСТЕ</b> - платформа для поиска компании для настольных игр.<br>
        Часто хочется поиграть в новую игру, но ее нет ни дома, ни у друзей. <br>
        Бывает и такое, что настолка доставляет максимальное удовольствие при игре большой компанией,
        а собрать такую из друзей и родственников никак не получается <br>
        А иногда просто хочется познакомиться с новыми интересными людьми и хорошо провести с ними время!<br>
        Для всех этих ситуаций создан этот сайт. Он поможет подобрать компанию для любимой игры,
        найти, у кого можно поиграть в новую, и встретить новых классных людей, разделяющих Ваши интересы.<br> 
      </p>
      <p>
        <h5>Возможности</h5>  
      </p>
      <p>
        Создавайте встречи: выбирайте удобное время, место, игры, количество игроков.<br>
        Управляйте встречами: меняйте параметры встречи и, при необходимости, состав участников<br>
        Ищите ближайшие встречи на карте или в списке, выбирая фильтры по месту, дате и игре<br>
        Заполняйте свой профиль: расскажите о своих интересах, добавьте любимые игры и игры в коллекции. 
        Или укажите в кабинете аккаунт на tesera.ru и загрузите коллекцию в 1 клик!<br>
        Добавляйте новые игры, которых еще нет на сайте - данные автоматически загрузятся с сайта 
        <a href="https://tesera.ru/games/">tesera.ru</a>.<br> 
      </p>
      <p>
        <h5>Об авторе</h5>  
      </p>
      <p>
        Меня зовут Руслан Атаров и я - большой любитель настольных игр. <br>
        В конце 2022 года я пошел на курсы бэкенд-разработчика на Python и в качестве 
        первого пет-проекта мне захотелось сделать что-то, связанное с моим хобби -
        настольными играми. <br>
        В интернете и соц.сетях много различных тематических сообществ, в том числе
        по поиску компании для настольных игр, но почему-то ни одного удобного сервиса,
        который бы упростил этот процесс. Мне захотелось исправить эту несправедливость;
        этот сайт - мой небольшой вклад в развитие игрового сообщества. <br> 
      </p>
      <p>
        <h5>Контакты</h5>  
      </p>
      <p>
        Есть идеи по развитию сайта? Предложения к сотрудничеству? Просто хотите сказать спасибо за сервис?<br>
        Пишите сюда: email<br>
      </p>
    </div>
  </div>
{% endblock %}
