{% extends "base.html" %}
{% load static %}
{% block title %}Помощь по сайту{% endblock %}
{% block content %}
  <div class="row border rounded shadow-sm bg-white">
    <div class="col-12 col-md-12">
      <p>
        <h4>Помощь по сайту</h4>
      </p>
    </div>
    <div class="col-12">
      <p>
        <h5>Что такое <b style="color:red">"В МЕСТЕ"?</b></h5>  
      </p>
      <p>
        <b style="color:red">В МЕСТЕ</b> - платформа для поиска компании для настольных игр.<br>
        Краткий набор возможностей сайта: <br>
        Создание встречи
        Поиск встречи по фильтру
        Поиск настольных игр
        Добавление настольных игр на сайт с базы данных tesera.ru
        Загрузка коллекции с игр с сайта tesera.ru
        Создание собственных коллекций игр
        Получение рассылки от телеграм-бота об изменения в Ваших встречах и создании новых встреч по фильтру
      </p>
      <p>
        <h5>Регистрация</h5>  
      </p>
      <p>
        .<br> 
      </p>
      <p>
        <h5>Создание встречи</h5>  
      </p>
      <p>
        .<br>
      </p>
      <p>
        <h5>Поиск встреч</h5>  
      </p>
      <p>
        .<br>
      </p>
      <p>
        <h5>Добавление настольных игр на сайт с базы данных tesera.ru</h5>  
      </p>
      <p>
        .<br>
      </p>
      <p>
        <h5>Загрузка коллекции с игр с сайта tesera.ru</h5>  
      </p>
      <p>
        .<br>
      </p>
      <p>
        <h5>Создание собственных коллекций игр</h5>  
      </p>
      <p>
        .<br>
      </p>
      <p>
        <h5>Настройка телеграм-бота</h5>  
      </p>
      <p>
        .<br>
      </p>
    </div>
  </div>
{% endblock %}
