{% load thumbnail %}
{% load static %}
  
<div class="row bg-white border rounded mb-3 shadow-sm">
  <div class="col p-3 flex-column">
    <div class="row">
      <div class="col">
        <b>{{ meeting.get_name }}</b><br>
        <small>Организатор: <a href="{% url 'users:profile' meeting.creator.username %}" 
        title="Страница организатора"
        >{{ meeting.creator.username }}</a></small>
      </div>
      <div class="col-auto d-flex justify-content-end">
        <small class="text-muted">{{ meeting.start_date|date:"l j b" }} - {{ meeting.start_time|time:"H:i" }}</small>
        <br>
        
      </div>
    </div>
    <hr>
    
    <div class="row">
      <div class="col-10 col-md-10">
        {% for game in meeting.games.all %}
          <a class="btn btn-sm btn-outline-dark" href="{% url 'games:game_detail' game.slug %}"
          title="Страница игры {{ game.name_rus }}"
          >
            {{ game.name_rus|truncatechars:25 }} 
          </a>
        {% empty %} Коллекция
        {% endfor %}
      </div>
      <div class="col-12 col-md-12">
        {% thumbnail meeting.place.type.logo "24x24" as logo %}
          <img class="img-fluid rounded mx-auto" src="{{ logo.url }}"  title="Место: {{meeting.place.type.name}}">
        {% endthumbnail %}
        <small>{{ meeting.place.get_info }}</small>
      </div>
      <div class="col-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
          <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
        </svg>
        <small>{{ meeting.get_total_players }} / {{ meeting.max_players }}</small>
      </div>
      <div class="col-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
          <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
          <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
        </svg>
        <small class="text-muted">{{ meeting.get_price }}</small>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <a href="{% url 'meetings:meeting_detail' meeting.id %}" class="btn btn-sm btn-primary" 
         title="Детали встречи"
        >Инфо</a>
      </div>
    </div>   
  </div>
</div>


