{% load static %}
<footer class="footer-bs bg-danger">
  <div class="container text-white ">
    <div class="row py-3 mb-3">
      <div class="col-12 col-md-6">
        <a class="text-decoration-none text-reset" href="{% url 'meetings:index' %}">
          © 2023 В МЕСТЕ
        </a>
      </div>
      <div class="col-6 col-md-auto ms-auto">
        <a class="text-decoration-none text-reset" href="{% url 'meetings:agreement' %}">
          Пользовательское соглашение
        </a>
      </div>
      <div class="col-6 col-md-auto">
        <a class="text-decoration-none text-reset" href="{% url 'meetings:help' %}">
          Помощь
        </a>
      </div>
      <div class="col-6 col-md-auto">
        <a class="text-decoration-none text-reset" href="{% url 'meetings:about' %}">
          О проекте
        </a>
      </div>
      <div class="col-6 col-md-auto">
        <a class="text-decoration-none text-reset" href="https://vk.com/club220940294" target="_blank">
          <img src="{% static 'img/VK_logo_white.svg' %}"
             width="24"
             height="24"
             class="d-inline-block align-top"
             alt="">
        </a>
      </div>
      
    </div>
  </div>
</footer>