{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load user_filters %}
{% block title %}
  {% if match.status == 'draft' %}
    Новая партия  
  {% else %}
    Изменение партии в {{ match.game }}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row border rounded shadow-sm bg-white">
    <div class="col-12 col-md-12 mb-3">
             

      <form method="post">
        {% csrf_token %}
        <p><h4>
          {% if match.status == 'draft' %}
            <mark>Черновик</mark> новой партии
          {% else %}
            Изменение партии в {{ match.game }}
          {% endif %}
        </h4></p>
        <button class="btn btn-danger btn-sm" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
          </svg>
          Сохранить партию
        </button>
        <a class="btn btn-sm btn-danger" href="{% url 'matches:match_delete' match.id %}" title="Удалить">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
          </svg>
          Удалить
        </a>
        <u>{{ match_form.non_field_errors }}</u>
        {% for field in match_form %}
          {% for error in field.errors %} <u>{{ error|escape }}</u> {% endfor %}
        {% endfor %}
        <div class="form-group row my-3">

          <div class="col-12 col-md-6 mb-1">
            <label class="form-label"><b>Игра: *</b></label>
            {{ match_form.game }}
          </div>

          <div class="col-6 col-md-3 mb-1">
            <label class="form-label"><b>Кол-во партий:</b></label>
            {{ match_form.quantity|addclass:'form-control' }}
          </div>

          <div class="col-6 col-md-3 mb-1">
            <label class="form-label"><b>Тип игры:</b></label>
            {{ match_form.type|addclass:'form-control' }}
          </div>
        
          <div class="col-12 col-md-6 mb-1">
            <label class="form-label"><b>Место:</b></label>
            {{ match_form.place|addclass:'form-control' }} 
          </div>

          <div class="col-6 col-md-3 mb-1">
            <label class="form-label"><b>Дата:</b></label>
            {{ match_form.date }}
          </div>

          <div class="col-6 col-md-3 mb-1">
            <label class="form-label"><b>Время, минут:</b></label>
            {{ match_form.length|addclass:'form-control' }}
          </div>

          <div class="col-12 col-md-6 mb-1">
            <label class="form-label"><b>Комментарии:</b></label>
            {{ match_form.comments }}
          </div>

          <div class="col-12 col-md-6 mb-1">
            <label class="form-label"><b>Дополнительно:</b></label>
            <div class="form-check form-switch">
              <label class="form-label">Не учитывать в статистике</label>
              {{ match_form.ignore|addclass:'form-check-input' }}
            </div>
            <div class="form-check form-switch">
              <label class="form-label">Игра не завершена</label>
              {{ match_form.incomplete|addclass:'form-check-input' }}
            </div>
          </div>

        </div>

      </form>

      <button class="btn btn-danger btn-sm" hx-get="{% url 'matches:player_form' %}" hx-swap='beforeend' hx-target='#playerforms'>
        Добавить игрока
      </button>
  
      </div>
      <div class="col-12 mb-3">

        <div class="list-group list-group-flush border-bottom scrollarea">
          <div class="list-group-item list-group-item-secondary py-3 lh-sm" >
            <div class="row d-flex align-items-center">
              
              <div class="col-6 col-md-6">
                <div class="row ">
                  <div class="col-12 col-md-6 d-flex align-items-center">
                    <strong>
                      Игрок
                    </strong>
                  </div>
                  <div class="col-12 col-md-6 d-flex align-items-center">
                    <strong>
                      Команда
                    </strong>
                  </div>
                </div>
              </div>
        
              <div class="col-4 col-md d-flex">
                <strong>
                  Результат
                </strong>
              </div>
        
              <div class="col-1 col-md-auto d-md-flex gap-2">

              </div>
            </div>
          </div>

          
          {% comment %} <div class="list-group-item list-group-item-action py-3 lh-sm"> {% endcomment %}
    
            
      

        <div id="playerforms">
          {% for player in match.players.all %}
            {% include 'matches/player_detail.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div> 

{% endblock %}
