{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load user_filters %}
{% block title %}Страница партии{% endblock %}
{% block content %}
  <div class="row border rounded shadow-sm bg-white mb-3">
    <div class="col-12 mb-3">
      <p>
        <h4>Партия в игру</h4>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'matches:match_edit' match.id %}">
          Изменить
        </a>  
      </p>
      <p>{{ match.creator }}</p>
        <p>{{ match.date }}</p>
          <p> {{ match.game }}</p>
            <p>  {{ match.place }}</p>
              <p>     {{ match.type }}</p>
                <p>     {{ match.length }}</p>
                  <p>     {{ match.comments }}</p>

      {% for player in match.players.all %}
      <p>    {{ player.name }} - 
        {{ player.user }} - 
            {{ player.winner }}</p>
      {% endfor %}
    </div>

    
  </div>

{% endblock %}
