{% load static %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
		<link rel="apple-touch-icon"
			sizes="180x180"
			href="{% static 'img/fav/apple-touch-icon.png' %}">
		<link rel="icon"
			type="image/png"
			sizes="32x32"
			href="{% static 'img/fav/favicon-32x32.png' %}">
		<link rel="icon"
			type="image/png"
			sizes="16x16"
			href="{% static 'img/fav/favicon-16x16.png' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
		<script src="{% static 'js/htmx.min.js' %}"></script>
		<meta name="theme-color" content="#7952b3">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <style type="text/css">
      body{
        position: relative;
      }
      main{
          margin-bottom: 100px;
      }
      .footer-bs{
          position: absolute;
          width: 100%;
          min-height: 70px;
          bottom: 0px;
          left: 0;
      }
    </style>
    <title>
			{% block title %}Тут должен быть заголовок{% endblock %}
		</title>
	</head>


	<body class="d-flex flex-column min-vh-100" style="background-color: #FFFAFA;">
		{% include 'includes/header.html' %}
		<div id="wrap">
		<main >
			<div class="container py-5">
			{% block content %}Контента нет, но будет{% endblock %}
			</div>
			<div class="row">
			</div>
			
		</main>
		</div>
		{% include 'includes/footer.html' %}
	
		<script>
			$(document).ready(function() {
			$('.game-select').select2({
				placeholder: 'Введите название игры',
				language: 'rus',
				minimumInputLength: 1,
				allowClear: true,
				width: '100%',
				class: 'form-control',
			});
			});

			$(document).ready(function() {
				$('.user-select').select2({
					placeholder: 'Введите игрока',
					language: 'rus',
					minimumInputLength: 1,
					allowClear: true,
					width: '100%',
				});
				});

			document.body.addEventListener('htmx:configRequest', (event) => {
				event.detail.headers['X-CSRFToken'] = '{{ csrf_token}}';
			})
		</script>
	</body>


</html>